<div id="tabs">
	<ul>
		<li><a href="#tab-1">$i18n.getString("dataelements")</a></li>
		#if($program.type!='3')
			<li><a href="#tab-2">$i18n.getString("program_variables")</a></li>
			<li><a href="#tab-3">$i18n.getString("attributes")</a></li>
		#end
		<li><a href="#tab-4">$i18n.getString("constant")</a></li>
	</ul>	
	
	<div id="tab-1">
	  <table>
        <tr>
			<td><label for="dataelement">$i18n.getString( "dataelement" )</label></td>
		</tr>
        <tr>
			<td>
				<input type='text' id='txtSearchValue' name='txtSearchValue' onKeyUp="filterDE(event, this.value, 'dataElements');" style='width:265px;'/>
				<input type='button' value='$i18n.getString("clear")' onClick="setFieldValue('txtSearchValue', '');" style='width:50px'>			
			</td>
        </tr>
        <tr>
			<td>
				<select multiple id="dataElements" name="dataElements" size="8" style="width:652px" ondblclick="insertDataElement(this);"></select>
			</td>
		</tr>
      </table>
	</div>
	
#if($program.type!='3')
	<div id="tab-2">
		<table>
			<tr>
				<td><label for="programProperty">$i18n.getString('program_properties')</label></td>
			</tr>
			<tr>
				<td>
					<select multiple id="programProperty" name="programProperty" size="10" style="width:652px" ondblclick="insertInfo(this, false);" >
						<option value="V{incident_date}">$i18n.getString( "incident_date" )</option>
						<option value="V{enrollment_date}">$i18n.getString( "date_of_enrollment" )</option>
						<option value="V{current_date}">$i18n.getString( "current_date" )</option>
						<option value="V{value_count}">$i18n.getString( "value_count" )</option>
						<option value="V{zero_pos_value_count}">$i18n.getString( "zero_pos_value_count" )</option>
					</select>
				</td>
			</tr>
		</table>
	</div>

	<div id="tab-3">
		<table>
        <tr>
			<td><label for="attributes">$i18n.getString( "attribute" )</label></td>
		</tr>
        <tr>
			<td>
				<input type='text' id='txtSearchAttrValue' name='txtSearchAttrValue' onKeyUp="filterAttr(event, this.value, 'attributes');" style='width:265px;'/>
				<input type='button' value='$i18n.getString("clear")' onClick="setFieldValue('txtSearchAttrValue', '');" style='width:50px'>			
			</td>
        </tr>
        <tr>
			<td>
				<select multiple id="attributes" name="attributes" size="8" style="width:652px" ondblclick="insertData(this,'A');">
					#foreach( $programAttribute in $program.programAttributes )
						#if( $programAttribute.attribute.valueType=='number' )
							<option value='$programAttribute.attribute.uid'>$encoder.htmlEncode($programAttribute.attribute.displayName)</option>
						#end
					#end
				</select>
			</td>
		</tr>
      </table>
	</div>
	
#end

	<div id="tab-4">
		<table>
        <tr>
			<td><label for="constant">$i18n.getString( "constant" )</label></td>
		</tr>
        <tr>
			<td>
				<input type='text' id='txtSearchContsValue' name='txtSearchAttrValue' onKeyUp="filterAttr(event, this.value, 'attributes');" style='width:265px;'/>
				<input type='button' value='$i18n.getString("clear")' onClick="setFieldValue('txtSearchAttrValue', '');" style='width:50px'>			
			</td>
        </tr>
        <tr>
			<td>
				<select multiple id="constants" name="constants" size="8" style="width:652px" ondblclick="insertData(this,'C');">
					#foreach( $constant in $constants )
						<option value='$constant.uid'>$encoder.htmlEncode($constant.displayName)</option>
					#end
				</select>
			</td>
		</tr>
      </table>
	</div>
	
</div>

<p></p>
<table>
	<tr>
        <th>$i18n.getString( "expression" ) <span class="tipText">Tip: use abs(x) sin(x) cos(x) tan(x) ln(x) log(x) sqrt(x) mod(x,y) oizp(x) zing(x)</span></th>
      </tr>	
	<tr>
		<td>
			<textarea style="width:660px" id="expression" name="expression" onkeyup='getConditionDescription();' >$!encoder.htmlEncode($!programIndicator.expression)</textarea>
		</td>
	</tr>	
	<tr>
		<td>
			<a href="javascript:insertOperator( '(' )"><img src="../images/left_parent.png" title="$i18n.getString( 'left_brackets' )"/></a>
			<a href="javascript:insertOperator( ')' )"><img src="../images/right_parent.png" title="$i18n.getString( 'right_brackets' )"/></a>
			<a href="javascript:insertOperator( '*' )"><img src="../images/multiply.png" title="$i18n.getString( 'multiply' )"/></a>
			<a href="javascript:insertOperator( '/' )"><img src="../images/divide.png" title="$i18n.getString( 'divide' )"/></a>
			<a href="javascript:insertOperator( '+' )"><img src="../images/plus.png" title="$i18n.getString( 'plus' )"/></a>
			<a href="javascript:insertOperator( '-' )"><img src="../images/minus.png" title="$i18n.getString( 'minus' )"/></a><br><br>
		</td>
	</tr>	
	<tr>
        <th>$i18n.getString( "description" )</th>
      </tr>	
	<tr>
		<td>
			<div id='aggregationDescription' style="padding: 5px 0 20px 0">$!encoder.htmlEncode($!description)</div>			
			<input type="hidden" id="checkExpression" name="checkExpression" title="$i18n.getString('expression_is_not_well_formed')" class="{validate:{required:true}}"  />
		</td>
	</tr>
</table>		

<script>
	$('#tabs').tabs();
</script>
