<div class="modal-header page">
    <h3>{{'select_columns_to_show'| translate}}</h3>
</div>

<div class="modal-body page">   
    <table class="listTable dhis2-table-striped-border">
        <tr ng-repeat="eventGridColumn in gridColumns">
            <td>
                <span ng-if="eventGridColumn.id !== 'comment' && eventGridColumn.id !== 'uid'">{{eventGridColumn.name}}</span>
                <span ng-if="eventGridColumn.id === 'comment' || eventGridColumn.id === 'uid'">{{eventGridColumn.name | translate}}</span>
            </td>
            <td>
                <input type="checkbox" ng-model="eventGridColumn.show" ng-change="showHideColumns(eventGridColumn)" ng-disabled="hiddenGridColumns + 1 == eventGridColumns.length && eventGridColumn.show">
            </td>
        </tr>                                    
    </table>    
</div>

<div class="modal-footer page">        
    <button data-ng-click="close()">{{'close'| translate}}</button>
</div> 