<div ng-if="selectedProgramStage && !eventRegistration && !editingEventInFull">
    <i ng-if="!eventFetched" class="fa fa-spinner fa-spin fa-2x"></i>
    <div ng-if="eventFetched" ng-switch="dhis2Events.length">                        
        <div ng-switch-when="undefined">
            <h4>
                {{'empty_event_list'| translate}}
            </h4>
        </div>                        
        <div ng-switch-when="0">  
            <h4 ng-if="eventFetched">
                {{'empty_event_list'| translate}}
            </h4>
        </div>
        <div ng-switch-default>
            <h4>
                {{'registered_events'| translate}}<span class="small-horizonal-spacing" ng-if="pager.total">({{'total' | translate}}:  {{pager.total}})</span>
                <button class="button button-std pull-right hideInPrint"
                        ng-show="dhis2Events.length"
                        ng-disabled="eventRegistration || editingEventInFull || editingEventInGrid"                                        
                        ng-click="showHideColumns()">
                    {{'show_hide_columns'| translate}}
                </button>
            </h4>

            <!-- context menu for event grid -->
            <div id="contextMenu" class="contextMenu" style="width: 180px;">
                <ul id="contextMenuItems" class="contextMenuItems">
                    <li><a href ng-click="showEditEventInFull()"><i class="fa fa-edit"></i>&nbsp;&nbsp;{{'edit'| translate}}</a></li>
                    <li><a href ng-click="showEditEventInGrid()"><i class="fa fa-edit"></i>&nbsp;&nbsp;{{'edit_in_grid'| translate}}</a></li>
                    <li ng-if="userAuthority.canDeleteEvent"><a href ng-click="removeEvent()"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;{{'remove'| translate}}</a></li>                                       
                </ul>
            </div>
            <!-- context menu ends -->                            

            <!-- grid begins -->
            <form name="outerForm" novalidate>                              

                <table class="listTable dhis2-table-striped-border dhis2-table-hover">
                    <thead>                        
                        <tr>
                            <th ng-show="eventGridColumn.show" 

                                ng-repeat="eventGridColumn in eventGridColumns">
                                
                                <span ng-if="eventGridColumn.id !== 'comment'">
                                    
                                    <!-- sort icon begins -->                                
                                    <span ng-hide="eventGridColumn.showFilter" class="bold" ng-click="sortEventGrid(eventGridColumn)">
                                        <span ng-class="{true: 'red'} [sortHeader.id == eventGridColumn.id]"><i class="fa fa-sort"></i></span>
                                        <span ng-if="eventGridColumn.id !== 'uid'">{{eventGridColumn.name}}</span>
                                        <span ng-if="eventGridColumn.id == 'uid'">{{eventGridColumn.name | translate}}</span>
                                    </span>
                                    <!-- sort icon ends -->

                                    <!-- filter icon begins -->
                                    <span class='pull-right hideInPrint'>
                                        <span ng-show="eventGridColumn.type !='date' && eventGridColumn.type !='int'">
                                            <a href ng-click="searchInGrid(eventGridColumn)" title="{{'search'| translate}}"><span ng-class="{true: 'filter-without-content', false: 'filter-with-content'} [filterText[eventGridColumn.id] == undefined || filterText[eventGridColumn.id] == '']"><i class="fa fa-search"></i></span></a>
                                        </span>
                                        <span ng-show="eventGridColumn.type ==='date' || eventGridColumn.type ==='int'">
                                            <a href ng-click="searchInGrid(eventGridColumn)" title="{{'search'| translate}}"><span ng-class="{true: 'filter-without-content', false: 'filter-with-content'} [(filterText[eventGridColumn.id].start == undefined || filterText[eventGridColumn.id].start == '') && (filterText[eventGridColumn.id].end == undefined || filterText[eventGridColumn.id].end == '')]"><i class="fa fa-search"></i></span></a>
                                        </span>                                                    
                                    </span>
                                    <!-- filter icon ends -->

                                    <!-- filter input field begins -->
                                    <span ng-show="eventGridColumn.showFilter">  
                                        <span ng-switch="eventGridColumn.type">
                                            <span ng-switch-when="int">
                                                <input style="width: 45%;" placeholder="{{'lower_limit' | translate}}" type="number" ng-model="filterText[eventGridColumn.id].start" ng-blur="searchInGrid(eventGridColumn)">
                                                <input style="width: 45%;" placeholder="{{'upper_limit' | translate}}" type="number" ng-model="filterText[eventGridColumn.id].end" ng-blur="searchInGrid(eventGridColumn)">
                                            </span>
                                            <span ng-switch-when="date">
                                                <input style="width: 70%;" placeholder="{{'start_date' | translate}}" type="text" ng-model="filterText[eventGridColumn.id].start" d2-date readonly="readonly">
                                                <span ng-hide="filterText[eventGridColumn.id].start == undefined || filterText[eventGridColumn.id].start == ''">
                                                    <a href ng-click='removeStartFilterText(eventGridColumn.id)'><span class='black'><i class="fa fa-trash-o"></i></span></a>                                                        
                                                </span>
                                                <input style="width: 70%;" placeholder="{{'end_date' | translate}}" type="text" ng-model="filterText[eventGridColumn.id].end" d2-date readonly="readonly">
                                                <span ng-hide="filterText[eventGridColumn.id].end == undefined || filterText[eventGridColumn.id].end == ''">
                                                    <a href ng-click='removeEndFilterText(eventGridColumn.id)'><span class='black'><i class="fa fa-trash-o"></i></span></a>                                                        
                                                </span> 
                                            </span>
                                            <span ng-switch-default>
                                                <input type="text" style="width: 90%;" ng-model="filterText[eventGridColumn.id]" ng-blur="searchInGrid(eventGridColumn)">
                                            </span> 
                                        </span>                                                    
                                    </span>
                                    <!-- filter input field ends -->
                                </span>
                                <span ng-if="eventGridColumn.id === 'comment'">
                                    {{'comment' | translate}}
                                </span>
                            </th> 
                        </tr>                        
                    </thead>
                    <tbody id="list">
                        <tr title="{{'click_for_action' | translate}}" ng-repeat="dhis2Event in dhis2Events | orderBy:d2Sort:reverse | gridFilter:filterText:filterTypes">
                           
                            <td ng-repeat="eventGridColumn in eventGridColumns" ng-if="eventGridColumn.show">
                                
                                <!-- Visible when event is not under editing -->
                                <div d2-context-menu 
                                    selected-item={{dhis2Event}}
                                    ng-click="showEventList()"
                                    ng-show="currentEvent.event !== dhis2Event.event && eventGridColumn.id !== 'comment'">
                                    <span ng-switch="eventGridColumn.type">
                                        <span ng-switch-when="bool">
                                            <span ng-if="dhis2Event[eventGridColumn.id] == 'false'">{{'no'| translate}}</span>
                                            <span ng-if="dhis2Event[eventGridColumn.id] == 'true'">{{'yes'| translate}}</span>
                                        </span>
                                        <span ng-switch-default>
                                            <span ng-if="dhis2Event[eventGridColumn.id]">
                                                {{dhis2Event[eventGridColumn.id]}}
                                            </span>
                                            <span ng-if="!dhis2Event[eventGridColumn.id]">
                                                &nbsp;
                                            </span>
                                        </span>
                                    </span>                                
                                </div>
                                <!-- Visible when event is not under editing -->
                                
                                
                                <!-- Visible when event is under editing in grid -->
                                <div style="cursor:default;"
                                    ng-if="(currentEvent.event == dhis2Event.event) && eventGridColumn.show && eventGridColumn.id !== 'comment'">
                                    <ng-form name="innerFormGrid">
                                        <div ng-switch="eventGridColumn.type">
                                            <div ng-switch-when="int">
                                                <input type="text" 
                                                       program-stage-data-element={{prStDes[eventGridColumn.id]}}
                                                       d2-validation 
                                                       d2-number-validation
                                                       number-type={{prStDes[eventGridColumn.id].dataElement.numberType}}
                                                       ng-model="currentEvent[eventGridColumn.id]" 
                                                       ng-blur="updateEventDataValue(dhis2Event, eventGridColumn.id)" 
                                                       ng-required={{eventGridColumn.compulsory}}
                                                       input-field-id={{eventGridColumn.id}} 
                                                       name="foo" 
                                                       style="width:98%;"
                                                       ng-class="{true: 'update-success'} [currentElement.updated == true && currentElement.id == eventGridColumn.id]"
                                                       ng-class="{true: 'update-error'} [!currentElement.updated == true && currentElement.id == eventGridColumn.id]"/>
                                            </div>
                                            <div ng-switch-when="string">                                        
                                                <div ng-if="eventGridColumn.id == 'uid'">
                                                    <input type="text"
                                                           d2-validation 
                                                           ng-model="currentEvent[eventGridColumn.id]"                                                                    
                                                           ng-disabled=true 
                                                           name="foo" 
                                                           style="width:99%;"/>                                                    
                                                </div>
                                                <div ng-if="eventGridColumn.id !== 'uid'">
                                                    <div class="container-fluid" ng-if="optionSets[prStDes[eventGridColumn.id].dataElement.optionSet.id]">                                                
                                                        <span ng-if="!selectedProgram.dataEntryMethod || optionSets[prStDes[eventGridColumn.id].dataElement.optionSet.id].options.length > 7">
                                                            <input type="text" 
                                                               class="typeahead"
                                                               placeholder="&#xf0d7;&nbsp;&nbsp;"                                                 
                                                               ng-model="currentEvent[eventGridColumn.id]" 
                                                               ng-blur="updateEventDataValue(dhis2Event, eventGridColumn.id)" 
                                                               typeahead="option.name as option.name for option in optionSets[prStDes[eventGridColumn.id].dataElement.optionSet.id].options | filter:$viewValue | limitTo:20" 
                                                               typeahead-open-on-focus
                                                               typeahead-editable="false" 
                                                               d2-typeahead-validation 
                                                               ng-required={{eventGridColumn.compulsory}}
                                                               ng-disabled="eventGridColumn.id == 'uid'"
                                                               input-field-id={{eventGridColumn.id}} 
                                                               name="foo" 
                                                               style="width:98%;"
                                                               ng-class="{true: 'update-success'} [currentElement.updated == true && currentElement.id == eventGridColumn.id]"
                                                               ng-class="{true: 'update-error'} [!currentElement.updated == true && currentElement.id == eventGridColumn.id]"
                                                               />
                                                        </span>
                                                        <span ng-if="selectedProgram.dataEntryMethod && optionSets[prStDes[eventGridColumn.id].dataElement.optionSet.id].options.length < 7">                                    
                                                            <label>
                                                                <input type="radio" 
                                                                       input-field-id={{eventGridColumn.id}} 
                                                                       name="foo"
                                                                       d2-validation 
                                                                       ng-required={{eventGridColumn.compulsory}}
                                                                       ng-model="currentEvent[eventGridColumn.id]" 
                                                                       ng-change="updateEventDataValue(dhis2Event, eventGridColumn.id)" 
                                                                       value=""> {{'no_value' | translate}}<br>                                     
                                                            </label>                                    
                                                            <label ng-repeat="option in  optionSets[prStDes[eventGridColumn.id].dataElement.optionSet.id].options">
                                                                <input type="radio" 
                                                                       input-field-id={{eventGridColumn.id}} 
                                                                       name={{eventGridColumn.id}}   
                                                                       d2-validation 
                                                                       ng-required={{eventGridColumn.compulsory}}
                                                                       ng-model="currentEvent[eventGridColumn.id]" 
                                                                       ng-change="updateEventDataValue(dhis2Event, eventGridColumn.id)"
                                                                       ng-class="{true: 'update-success'} [currentElement.updated == true && currentElement.id == eventGridColumn.id]"
                                                                       ng-class="{true: 'update-error'} [!currentElement.updated == true && currentElement.id == eventGridColumn.id]"
                                                                       value={{option.name}}> {{option.name}}<br>                                    
                                                            </label>
                                                        </span>                                                
                                                    </div>
                                                    <div ng-if="!optionSets[prStDes[eventGridColumn.id].dataElement.optionSet.id]">
                                                        <input type="text" 
                                                            d2-validation    
                                                            ng-model="currentEvent[eventGridColumn.id]" 
                                                            ng-blur="updateEventDataValue(dhis2Event, eventGridColumn.id)" 
                                                            ng-required={{eventGridColumn.compulsory}}
                                                            ng-disabled="eventGridColumn.id == 'uid'"
                                                            input-field-id={{eventGridColumn.id}} 
                                                            name="foo" 
                                                            style="width:98%;"
                                                            ng-class="{true: 'update-success'} [currentElement.updated == true && currentElement.id == eventGridColumn.id]"
                                                            ng-class="{true: 'update-error'} [!currentElement.updated == true && currentElement.id == eventGridColumn.id]"
                                                            />
                                                    </div>
                                                </div>
                                            </div>                                        
                                            <div ng-switch-when="bool">
                                                <select d2-validation 
                                                        ng-model="currentEvent[eventGridColumn.id]" 
                                                        ng-change="updateEventDataValue(dhis2Event, eventGridColumn.id)" 
                                                        ng-required={{eventGridColumn.compulsory}}
                                                        input-field-id={{eventGridColumn.id}} 
                                                        name="foo" 
                                                        style="width:98%;"
                                                        ng-class="{true: 'update-success'} [currentElement.updated == true && currentElement.id == eventGridColumn.id]"
                                                        ng-class="{true: 'update-error'} [!currentElement.updated == true && currentElement.id == eventGridColumn.id]">
                                                    <option value="">{{'please_select'| translate}}</option>                        
                                                    <option value="false">{{'no'| translate}}</option>
                                                    <option value="true">{{'yes'| translate}}</option>
                                                </select>
                                            </div>
                                            <div ng-switch-when="date">
                                                <input type="text" 
                                                       placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                                                       d2-date
                                                       max-date="prStDes[eventGridColumn.id].allowFutureDate ? '' : 0" 
                                                       d2-validation 
                                                       ng-model="currentEvent[eventGridColumn.id]"
                                                       blur-or-change="updateEventDataValue(dhis2Event, eventGridColumn.id)" 
                                                       ng-required={{eventGridColumn.compulsory}}
                                                       ng-disabled="eventGridColumn.id == 'event_date'"
                                                       input-field-id={{eventGridColumn.id}} 
                                                       name="foo" 
                                                       style="width:98%;"
                                                       ng-class="{true: 'update-success'} [currentElement.updated == true && currentElement.id == eventGridColumn.id]"
                                                       ng-class="{true: 'update-error'} [!currentElement.updated == true && currentElement.id == eventGridColumn.id]"
                                                       />
                                            </div>
                                            <div ng-switch-when="trueOnly">
                                                <input type="checkbox"
                                                       d2-validation 
                                                       ng-model="currentEvent[eventGridColumn.id]"
                                                       ng-change="updateEventDataValue(dhis2Event, eventGridColumn.id)" 
                                                       ng-required={{eventGridColumn.compulsory}} 
                                                       input-field-id={{eventGridColumn.id}} 
                                                       name="foo" 
                                                       ng-class="{true: 'update-success'} [currentElement.updated == true && currentElement.id == eventGridColumn.id]"
                                                       ng-class="{true: 'update-error'} [!currentElement.updated == true && currentElement.id == eventGridColumn.id]"
                                                       />
                                            </div>
                                        </div>
                                        <span ng-show="currentEvent[eventGridColumn.id] && innerFormGrid.foo.$invalid || outerForm.submitted && innerFormGrid.foo.$invalid" class="required">{{getErrorMessage(eventGridColumn.id)}}</span>
                                    </ng-form>
                                </div>
                                <!-- Visible when event is under editing in grid -->
                                
                                <!-- visible when comment exisits -->
                                <span ng-if="eventGridColumn.id === 'comment'" >                                
                                    <a href ng-click="showNotes(dhis2Event)" title="{{'show_comments'| translate}}" ng-if="dhis2Event.notes"><i class="fa fa-info-circle"></i></a>
                                </span>    
                                <!-- visible when comment exisits -->                                
                            </td>
                        </tr>
                    </tbody>        
                </table>
                
                <serverside-paginator></serverside-paginator>
            </form>
            <!-- grid ends -->
        </div>
    </div>
</div> 